@import url(https://fonts.googleapis.com/css?family=Pridi:200,300,regular,500,600,700);
$main_font : "Pridi" , sans-serif;
$primary_color : #FF5F04;
$yellow_color : #FEF983;
$gray_color : #D2D2D2;
$logo_gradient : linear-gradient(270deg, #000000 0%, rgba(0, 0, 0, 0) 120.92%);
// $nav_background : linear-gradient(180deg, #FF5F04 4.19%, rgba(255, 255, 255, 0) 100%);
$nav_background : #FF8540;
$disabled_main_color : #ffc88c;
$light_gray_color : #f7f7f7;